[user]
    name = yaozhongxiao
    email = yaozhongxiao@bytedance.com
    #email = zhongxiao.yzx@gmail.com

[color]
    ui = auto

[core]
    editor = vim

[include]
    #path = ~/Workspace/DevTools/cli/git/.gitconfig

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff

[commit]
    template = ~/.git-commit-template

[alias]
    logx = log --all --pretty=fuller --graph
    logs = log --pretty=format:'%C(auto)%ad %h %<(15,trunc)%C(auto)%an %C(auto)%d %s'
    icommit = -c user.email='zhongxiao.yzx@gmail.com' commit --author='zhongxiao.yzx<zhongxiao.yzx@gmail.com>'

[mergetool]
	keepBackup = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
